<!DOCTYPE html><html lang="en"><head><meta charset="utf-8">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
    #sorucevap{text-align:left;}
    
#sorucevap .c{display:none;   border-top:none;}
    </style>
    </head><body style="background-color:powderblue;">
        {% include "includes/navbar.html" %}
        
    <div class="container" id="sorucevap">
       <div class="s"><strong><h4>Ürün sipariş etmek için ne yapmalıyım?</h2></strong></div><div class="c">Instagram`dan DM yolu ile veya iletişim numaramızdan bize ulaşabilirsiniz.</div>
       <br>
       <div class="s"><strong><h4>Ödemeyi nasıl yapabilirim?</h2></strong></div><div class="c">Sipariş verdikten sonra ürün fiyatının yarısınnı EFT/Havale yolu ile peşin, diğer yarısını kapıda ödeme yapabilirsiniz.</div>
       <br>
       <div class="s"><strong><h4>İstanbul dışı siparişin ulaşma süresi ne kadardır?</h2></strong></div><div class="c">5 iş günü içinde teslim edilmiş olur.</div>
       <br>

    </div>
        
    <script type="text/javascript">
    $('#sorucevap .s').click(function(){
       $(this).next().slideToggle(500).siblings('.c').slideUp(500);
    });
    </script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     
    </body></html>